* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background: grey;
}


.page {
  max-width: auto;
  margin: 0 auto;
}
.entete h1 {
  margin-top: 60px;
}
.entete {
  margin-top: 80px;
  background: black;
  color: white;
  text-align: center;
  padding: 15px 0 40px;
}

.page-contenu {
  display: flex;
}


.content {
  width: 60%;
  padding: 20px;
  background: white;
  
}


.leftbanner,
.rightbanner {
  width: 20%;
  padding: 30px 20px;
  color: #fff;
  background: grey;
  text-align: center;
}


.leftbanner a,
.rightbanner a {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: underline;
}


.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.footer h1 {
  margin: 0;
}
